/* * {
  border: 0.1rem solid white;
} */
body {
  width: 100%;
}
:root {
  --green-clr: #dffe02;
  --gray-clr: #898989;
  --dark-blue-clr: #171c22;
}

.bg-green {
  background: var(--green-clr);
}
.bg-dark-blue {
  background: var(--dark-blue-clr);
}
.txt-green {
  color: var(--green-clr);
}
.txt-gray {
  color: var(--gray-clr);
}
img {
  max-width: 100%;
  height: auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.mybtn {
  border: 2px solid #dffe02 !important;
}
.mybtn:hover {
  background: transparent;
  color: white !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  width: 2.2rem;
}

@keyframes glow {
  0% {
    /* 5 is radius of glow  */
    box-shadow: 0 0 5px #ccff00;
  }
  100% {
    box-shadow: 0 0 15px #ccff00, 0 0 25px #ccff00;
  }
}

.highlight {
  background-color: #ccff00;
  animation: glow 1.5s infinite alternate;
  border-radius: 5px;
  font-weight: bold;
  height: 40px;
  padding-right: 8px;
  padding-left: 8px;
  border: none;
  justify-content: center;
  text-align: center;
  align-items: center;

  margin-top: 5px;
  width: 100%;
}

.s {
  margin-top: -6px;
}
/* 
.navbar {
  animation: slideDown 1s ease-out;
} */
.name-text {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  margin-left: 2px;
  padding-top: 5px;
}

body {
  overflow-x: hidden;
}

.navbar {
  background-color: black;
  animation: slideDown 1s ease-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.ul-t {
  display: inline-block;
  position: relative;
  color: white;
}

.ul-t::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: #dffe02;
  transition: width 0.4s ease;
}

.ul-t:hover::after {
  width: 100%;
}

.image-container {
  /* width: 16rem; */
  transition: transform 0.5s ease-in-out;
}
.image-container:hover {
  transform: scale(1.1);
}
.blog-card {
  /* width: 16rem; */
  transition: transform 0.5s ease-in-out;
}
.blog-card:hover {
  transform: scale(1.1);
}
.about-me {
  /* width: 30rem; */
  margin-right: 30px;
  transition: transform 0.5s ease-in-out;
}
.about-me:hover {
  transform: scale(1.1);
}
.nav-item {
  /* width: 16rem; */
  transition: transform 0.5s ease-in-out;
}
.nav-item:hover {
  transform: scale(1.1);
}
.image-container {
  /* background-color: gold; */
  border-radius: 50%;
  width: 27rem;
  aspect-ratio: 1;
  border-top: 0.7rem solid white;
  border-bottom: 0.7rem solid white;
  background-image: url(./images/s_img.jpg);
  background-position: center;
  /* background-size: 100%; */
  background-size: cover;
  padding-left: 80px;
  padding-bottom: 40px;
  padding-left: -10px;
  box-shadow: 0 0 1rem white, inset 0 0 1rem white, 0 0 2rem var(--green-clr),
    inset 0 0 2rem var(--green-clr), 0 0 3rem var(--green-clr),
    inset 0 0 1.5rem var(--green-clr);
  /* animation: glow 1.5s infinite alternate; */
}

.hero-section {
  min-height: 70vh;
  width: 100%;
}
p {
  font-size: 0.95rem;
}
form {
  width: 33rem;
}

@media screen and (max-width: 680px) {
  h1 {
    font-size: 2.8rem;
  }
  form {
    width: 21rem;
  }

  .image-container {
    width: 18rem;
    margin-top: 30px;
  }
  .hero-section {
    min-height: 75vh;
    /* padding-bottom: 20px; */
  }

  h1 {
    font-size: calc(2.3rem + 1.5vw);
  }
  .spacing {
    letter-spacing: 0.1rem;
    font-size: 2.4rem !important;
  }
  .s {
    margin-top: -8px;
  }
  .trt {
    /* margin-left: -5px; */
    margin-top: -80px;
    margin-bottom: 20px;
    padding-top: none;
  }
}
.main-txt {
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
}
.spacing {
  letter-spacing: 0.2rem;
  font-size: 3em;
}
.trt {
  padding-top: 70px;
  /* font-size: 5em; */
}
.about-me {
  border-radius: 50%;
  width: 23rem;
  aspect-ratio: 1;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  /* padding-left: 80px;
   padding-bottom: 40px;
   padding-left: -10px; */
}
.section-container {
  padding-block: 4rem;
}

.text-container {
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #00ffcc;
  width: 0;
  animation: typing 7s steps(10, end) infinite, blink 3s step-end infinite;
}

@keyframes typing {
  0%,
  50% {
    width: 0;
  }
  10%,
  40% {
    width: 11ch;
  }
  60%,
  100% {
    width: 10ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.text-container::before {
  content: "Hello, I'm Sumit";
  animation: switchText 7s infinite;
}

@keyframes switchText {
  0%,
  49.9% {
    content: "FRONTEND";
  }
  50%,
  100% {
    content: "developer ";
  }
}

.glow {
  position: relative;
}
.glow::before {
  /* margin-left: 40px; */
  content: "";
  position: absolute;
  background-color: var(--green-clr);
  inset: 6rem;
  z-index: -1;

  filter: blur(70px);

  background-size: cover;
}
.t1 {
  height: 150px;
}
.hover-card:hover {
  background-color: var(--green-clr);
}
.hover-card:hover * {
  color: black !important;
}
.mycard {
  width: 16rem;

  transition: transform 0.5s ease-in-out;
}
.mycard:hover {
  transform: scale(1.1);
}
.blog-card {
  width: 20rem;
}
.line {
  background: rgba(255, 255, 255, 0.616);
  height: 0.1rem;
  width: 100%;
}
